body{
    font-family: "plus jakarta sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex:1;
}

/* navbar */
.navbar{
    height: 5rem ;
    background-color: white ;
}

.fa-compass{
    color:#fe424d;
    font-size:2rem;
}

.nav-link{
    color: #222222 !important;
}

/* footer */

.f-info-links a{
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover{
    text-decoration: underline;
}

.f-info-links,.f-info-socials,f-info-brand{
    width: 100%;
    vertical-align: middle;
    display:flex;
    align-items: center;
    justify-content: center;
     
}


.f-info-socials i{
    margin-right:1rem;
    font-size:1.2rem;
}

.f-info{
    text-align: center;
    display: flex;
    height: 8rem;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;
      
}

/* card */

.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}


.card-img-top{
    border-radius: 1rem !important;
    width: 100%;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;

}

.card-text p{
    font-weight: 400 !important;
}

.listing-link{
    text-decoration: none;
}


/* card effect */

.card-img-overlay{
    opacity: 0;
    
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    background-color: rgba(255, 255, 255, 0.5);
    
}

.card-img-overlay:hover{
    opacity:0.2;
    background-color: white;
    transition: opacity 0.3s ease-in-out, ;
    transform: matrix(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0.2, 1); 
    box-shadow: 0 8px 24px rgba(0,0,0,0.15);
    scale: 1.03;
    cursor: pointer;
     
}


/*new listing page*/
.add-btn{

    background-color:#fe424d !important ;
    transform-style: preserve-3d;
    
}

.add-btn:hover{
    background-color: #d32f2f !important;
    transform: translateY(-2px) scale(1.05);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: transform 0.3s ease-in-out ;
}

/* edit page */

.edit-btn{
    background-color: #d32f2f !important;
}

    


/* show page */

.show-img{
    height: 80vh;
}

.btns{
    display: flex;
    

}
