<%layout("layouts/boilerplate")%>


<body>
    <div class="row mt-3">
        <h1 class="col-6 offset-3">Login on Wanderlust</h1>

        <div class="col-8 offset-2">
            <form action="/login" method="POST" class="needs-validation" novalidat e>
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input 
                    name="username"
                    id="username"
                    type="text"
                    class="form-control"
                    required
                    />
  
                </div>




                <div class="mb-3">
                    <label for="password" class="form-label">password</label>
                    <input 
                    name="passport"
                    id="passport"
                    type="passpowrd"
                    class="form-control"
                    required
                    />
                    
                </div> 

                <button class="btn-success">Login</button> 


            </form>